button.btn-wide {
    width: 100%;
    height: 40px;
}

.container-centered {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* nav */
nav {
    background-color: red;
    height: 10vh;
    /* debug */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav #nav-left, nav #nav-right {
    background-color: darkred;
    /* debug */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav #nav-left > *, nav #nav-right > * {
    background-color: green;
    width: 40px;
    height: 20px;
    /* debug */
    display: block;
}
/* /nav */

/* main */
/* jumbo */
main #jumbo {
    background-color: #b4d0e7;
    height: 600px;
    /* debug */
    padding-top: 80px;
    padding-bottom: 20px;
}

main #jumbo #jumbo-inner {
    background-color: #8ca2b4;
    height: 100%;
    /* debug */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 50px;
}

main #jumbo #jumbo-inner > * {
    background-color: #758897;
    /* debug */
}

/* jumbo-bottom */
main #jumbo #jumbo-inner #jumbo-bottom  {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;

    flex-grow: 1;
}

main #jumbo #jumbo-inner #jumbo-bottom > * {
    background-color: #586772;
}

/* jumbo-left */
main #jumbo #jumbo-inner #jumbo-bottom #jumbo-left {
    max-width: 40%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

main #jumbo #jumbo-inner #jumbo-bottom #jumbo-left > * {
    background-color: #3c474e;
    /* debug */
}

main #jumbo #jumbo-inner #jumbo-bottom #jumbo-left #go-to-subscriptions-plans {
    width: 50px;
    height: 50px;
    /* debug */
}

main #jumbo #jumbo-inner #jumbo-bottom #jumbo-left #jumbo-left-inner {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

main #jumbo #jumbo-inner #jumbo-bottom #jumbo-left #jumbo-left-inner > * {
    background-color: #2d353a;
    /* debug */
}
/* /jumbo-left */

/* jumbo-right */
main #jumbo #jumbo-inner #jumbo-bottom #jumbo-right {
    margin-bottom: -50px;
    flex-grow: 1;
}
/* /jumbo-right */
/* /jumbo-bottom */
/* /jumbo */

/* business-plans */
main #business-plans {
    padding-top: 100px;

    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
}

main #business-plans ul#type-of-sub {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
}

main #business-plans #business-plans-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

main #business-plans .plan-col {
    border: 1px solid black;
    /* debug */
    width: 30%;
}

main #business-plans .plan-col.wide {
    width: 100%;
}

main #business-plans .plan-col .plan-col-header {
    border-bottom: 1px solid black;
    /* debug */
    padding: 10px 0;

    text-align: center;
}

main #business-plans .plan-col .plan-col-body {
    padding: 40px 20px;

    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
}

main #business-plans .plan-col .plan-col-body > * {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

main #business-plans #business-plans-inner .plan-col .plan-col-body ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

main #business-plans #business-plans-inner .plan-col .plan-col-body hr {
    border: 1px solid black;
}
/* /business-plans */
/* /main */