body {
    font-family: sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

button.btn {
    padding: 1em 1.2em;
}

button.btn-blue {
    background-color: #0061ff;
    color: white;
}

.container-centered {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* nav */
nav {
    background-color: red;
    height: 10vh;
    /* debug */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav #nav-left, nav #nav-right {
    background-color: darkred;
    /* debug */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav #nav-left > *, nav #nav-right > * {
    background-color: green;
    width: 40px;
    height: 20px;
    /* debug */
    display: block;
}
/* /nav */

/* jumbo */
#jumbo {
    background-color: #b4d0e7;
    /* debug */
    padding-top: 100px;
}

#jumbo #jumbo-inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#jumbo #jumbo-inner h1 {
    margin-bottom: 70px;
    font-size: 5em;
}

/* jumbo-bottom */
#jumbo #jumbo-inner #jumbo-bottom  {
    display: flex;
    flex-flow: row nowrap;
}

/* jumbo-left */
#jumbo #jumbo-inner #jumbo-bottom #jumbo-left {
    max-width: calc(100% / 3);
    padding-right: 35px;
    padding-bottom: 20px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#jumbo #jumbo-inner #jumbo-bottom #jumbo-left #jumbo-left-top {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 35px;
}

#jumbo #jumbo-inner #jumbo-bottom #jumbo-left .fa-arrow-down {
    font-size: 3em;
}
/* /jumbo-left */

/* jumbo-right */
#jumbo #jumbo-inner #jumbo-bottom #jumbo-right {
    margin-bottom: -70px;
    flex-grow: 1;
}

#jumbo #jumbo-inner #jumbo-bottom #jumbo-right img {
    width: 100%;
    height: auto;
}
/* /jumbo-right */
/* /jumbo-bottom */
/* /jumbo */

/* main */
/* business-plans */
main #business-plans {
    padding-top: 100px;

    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
}

main #business-plans ul#type-of-sub {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
}

main #business-plans #business-plans-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

main #business-plans .plan-col {
    border: 1px solid black;
    /* debug */
    width: 30%;
}

main #business-plans .plan-col.wide {
    width: 100%;
}

main #business-plans .plan-col .plan-col-header {
    border-bottom: 1px solid black;
    /* debug */
    padding: 10px 0;

    text-align: center;
}

main #business-plans .plan-col .plan-col-body {
    padding: 40px 20px;

    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
}

main #business-plans .plan-col .plan-col-body > * {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

main #business-plans .plan-col .plan-col-body ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

main #business-plans .plan-col .plan-col-body hr {
    border: 1px solid black;
}

main #business-plans .plan-col.wide .plan-col-body-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

main #business-plans .plan-col.wide .plan-col-body-wrapper .btn-wrapper {
    padding: 10px 30px;
}
/* /business-plans */
/* /main */