body {
    font-family: sans-serif;
}

button.btn {
    padding: 0.8em 1em;
}

button.btn-blue {
    background-color: #0061ff;
    color: white;
}

button.btn-white {
    border: 1px solid black;
    background-color: white;
    color: black;
}

.container-centered {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* nav */
nav {
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

nav #nav-left, nav #nav-right {
    height: 100%;
}

nav #nav-left ul, nav #nav-right ul {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    list-style: none;
    padding-inline-start: 0;
}

nav #nav-left ul li, nav #nav-right ul li {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav #nav-left ul li a,  nav #nav-right ul li a {
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav #nav-left #logo-nav {
    height: 100%;
    width: auto;
}
/* /nav */

/* jumbo */
#jumbo {
    background-color: #b4d0e7;
    padding-top: 100px;
    margin-bottom: 150px;
}

#jumbo a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

#jumbo #jumbo-inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#jumbo #jumbo-inner h1 {
    margin-bottom: 70px;
    font-size: 5em;
}

/* jumbo-bottom */
#jumbo #jumbo-inner #jumbo-bottom  {
    display: flex;
    flex-flow: row nowrap;
}

/* jumbo-left */
#jumbo #jumbo-inner #jumbo-bottom #jumbo-left {
    max-width: calc(100% / 3);
    padding-right: 35px;
    padding-bottom: 20px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#jumbo #jumbo-inner #jumbo-bottom #jumbo-left #jumbo-left-top {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 35px;
}

#jumbo #jumbo-inner #jumbo-bottom #jumbo-left .fa-arrow-down {
    font-size: 3em;
}
/* /jumbo-left */

/* jumbo-right */
#jumbo #jumbo-inner #jumbo-bottom #jumbo-right {
    margin-bottom: -70px;
    flex-grow: 1;
}

#jumbo #jumbo-inner #jumbo-bottom #jumbo-right img {
    width: 100%;
    height: auto;
}
/* /jumbo-right */
/* /jumbo-bottom */
/* /jumbo */

/* main */
/* business-plans */
main #business-plans > * {
    margin-bottom: 2em;
}

main #business-plans h2 {
    font-size: 2em;
}

main #business-plans ul#radio-buttons {
    margin-bottom: 2em;

    display: flex;
    flex-flow: row nowrap;
    gap: 40px;

    list-style: none;
    padding-inline-start: 0;
}

main #business-plans ul#radio-buttons li span.radio-button {
    /* background-color: red; */
    /* debug */
    display: inline-block;
    width: 1em;
    height: 1em;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

main #business-plans ul#radio-buttons li:first-of-type span.radio-button {
    /* background-color: red; */
    /* debug */
    display: inline-block;
    width: 1em;
    height: 1em;

    border: 4px solid #0061ff;
    border-radius: 50%;
}

main #business-plans .business-plans-row {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

main #business-plans .business-plans-row .business-plan-col {
    border: 1px solid rgba(0, 0, 0, 0.3);
    /* width: 30%; */
}

main #business-plans .business-plans-row .business-plan-col .business-plan-col-header {
    padding: 10px 0;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
}

main #business-plans .business-plans-row .business-plan-col .business-plan-col-body {
    padding: 50px;

    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

main #business-plans .business-plans-row .business-plan-col .business-plan-col-body h3 {
    margin-bottom: 1em;
    font-size: 2em;
}

main #business-plans .business-plans-row .business-plan-col .business-plan-col-body .plan-price {
    margin-bottom: 1em;
}

main #business-plans .business-plans-row .business-plan-col .business-plan-col-body .plan-duration {
    margin-bottom: 3em;
    color: rgba(0, 0, 0, 0.7);
}

main #business-plans .business-plans-row .business-plan-col .business-plan-col-body ul {
    margin-bottom: 2em;

    list-style: none;
    padding-inline-start: 0;
}

main #business-plans .business-plans-row .business-plan-col .business-plan-col-body ul li {
    margin-left: -0.3em;
    margin-bottom: 1em;

    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em;
}

main #business-plans .business-plans-row .business-plan-col .business-plan-col-body button {
    margin-bottom: 2em;
}

main #business-plans .business-plans-row .business-plan-col .business-plan-col-body .buy-link {
    margin-bottom: 2em;
}

main #business-plans .business-plans-row .business-plan-col .business-plan-col-body hr {
    margin-bottom: 3em;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

main #business-plans .business-plans-row .business-plan-col .business-plan-col-body h4 {
    margin-bottom: 2em;
    font-size: 1.2em;
}

main #business-plans .business-plans-row .business-plan-col .business-plan-col-body ul.main-feature li i {
    color: #0061ff;
}

main #business-plans .business-plans-row:last-of-type .business-plan-col {
    width: 100%;
}

main #business-plans .business-plans-row:last-of-type .business-plan-col .business-plan-col-body {
    display: flex;
    flex-flow: row nowrap;
}

main #business-plans .business-plans-row:last-of-type .business-plan-col .business-plan-col-body .business-plan-col-body-left {
    max-width: 70%;
    padding-right: 25px;
}

main #business-plans .business-plans-row:last-of-type .business-plan-col .business-plan-col-body .business-plan-col-body-right {
    padding-left: 25px;
    
    display: flex;
    flex-flow: column nowrap;

    flex-grow: 1;
}
/* /business-plans */

/* partner */
main #partner {
    margin-bottom: 150px;

    display: flex;
    gap:  50px;
}

main #partner #partner-right {
    padding-right: 100px;
}

main #partner #partner-right h3 {
    margin-bottom: 1em;
    font-size: 2em;
}

main #partner #partner-right p {
    margin-bottom: 2em;
}
/* /partner */

/* features */
main #features h3 {
    margin-bottom: 2em;
    font-size: 2em;
}

main #features ul {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;

    list-style: none;
    padding-inline-start: 0;
}

main #features ul li.feature {
    max-width: calc(100% / 3 - 50px);
}

main #features ul li.feature img {
    margin-bottom: 1em;
    width: 100%;
    height: auto;
}

main #features  ul li.feature h4 {
    margin-bottom: 1em;

    font-size: 1.5em;
}
/* /features */
/* /main */